#Part_3_text{
    width: 550px;
    line-height: 200%;
    text-align:"left";
    font-size: 13px;
    font-family: "Microsoft YaHei";
    color:#876;
}
#top_bar{
    position:fixed;
    backdrop-filter:blur(10px) ;
    top: 0;
    left: 0;
    width: 100%;
}
h1{
    font-size: 28px;
    color:#333;
    font-family: "Microsoft YaHei";
    font-weight: normal;
}
hr{
    background-color: #aaa;
    height: 1px;
    width: 600px;
    text-align: left;
    border: none;
}