            body{
                background-color: #fff78b;  /* 背景颜色 */
                font-family: KaiTi ;    /* 设置字体 */
            }
            h1{
                color: red;     
                font-size: 2.2em;
                border-bottom: 2px solid #2a1959;   /* 下边框 */
            }
            h2{
                color: #000dff;
                font-size: 1.2em;
                margin-left: 120px;     /*与容器左端的距离*/
            }
            #box{
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                opacity: 0.2;
                z-index: -1;
            }
            /*悬浮框 */
            #float {
                position: absolute;
                top: 350em;
                z-index: 1;
            }
            /*图片大小*/
            #floatImg {
            width: 50px;
            height: 50px;
            }
            #introduction{
                color: #000000;
                font-size: large;
                text-shadow:  0px 0px 10px #ff7300
            }
            #contect{
                color: #000000;
                font-size: 1.2em;
                text-shadow:  0px 0px 10px #00eeff;
            }
            #flag{
                font-size: 18px;
            }
            #flag ul{
                width: 100px;
                overflow: hidden;
            }
            #flag ul li{
                list-style: none;
            }
            #flag ul li a{
                color:#d300c5;
                text-decoration: none;
                display: block;
                line-height: 25px;
                text-align: center;
                border-right: 1px white solid;
            }
            #flag ul li a:hover{
                background-color: #db00ba;
                color:white
            }
            #flag ul li a.last{
                border-right: none;
            }
            .ZNJL_div{
                background-color: hsla(184, 100%, 50%, 0.3);
                width: 100%;
                left: 0;
                border-radius: 15px;
            }
            .DYJL_div{
                background-color: hsla(127, 100%, 43%, 0.3);
                width: 100%;
                left: 0;
                border-radius: 15px;
            }
            .GRSH_div{
                background-color: hsla(320, 100%, 44%, 0.3);
                width: 100%;
                left: 0;
                border-radius: 15px;
            }
            .ZYZP_div{
                background-color: hsla(22, 100%, 50%, 0.3);
                width: 100%;
                left: 0;
                border-radius: 15px;
            }
            .HJJL_div{
                background-color: hsla(65, 100%, 50%, 0.3);
                width: 100%;
                left: 0;
                border-radius: 15px;
            }
            .RWPJ_div{
                background-color: hsla(239, 100%, 50%, 0.3);
                width: 100%;
                left: 0;
                border-radius: 15px;
            }
            .WDZP_div{
                background-color: hsla(281, 100%, 75%, 0.3);
                width: 100%;
                left: 0;
                border-radius: 15px;
            }
            #footbar{
                background:rgba(255, 255, 255, 0);
                top: 0%;
                left: 0;
                width: 100% ;
                height: 1000px;
                backdrop-filter: blur(10px);
            }
